---
import Layout from "../layouts/Layout.astro";
---

<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(img/fondo_jugador.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .contenedor {
    width: 66%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid #004488;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 20px;
    flex: 1;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }

  .texto {
    grid-column: 1 / 2;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 40px;
  }

  .foto {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden; /* Importante para que la imagen no sobresalga del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55%; /* Asegura que el contenedor ocupe toda la altura asignada */
  }

  .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen cubra todo el contenedor */
  }

  .equipos {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 10px;
  }

  .equipos .equipo {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .equipos .equipo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
</style>

<Layout title="Nueva Pestaña">
  <main>
    <div class="contenedor">
      <!-- Sección de Texto -->
      <div class="texto">
        <h1>Bienvenido a la Nueva Pestaña</h1>
        <p>
          Atlas Fútbol Club, conocido popularmente como Atlas, es un equipo de fútbol profesional con sede en Guadalajara, Jalisco, México. Fundado el 15 de agosto de 1916, Atlas es uno de los clubes más antiguos y tradicionales del fútbol mexicano. Sus colores distintivos son el rojo y el negro, y sus apodos incluyen “Los Rojinegros” y “Los Zorros”. El equipo juega sus partidos de local en el Estadio Jalisco, uno de los estadios más emblemáticos de México, con una capacidad para más de 55,000 espectadores.
        </p>
        <br><br>
        <p>
          La historia de Atlas está marcada por su dedicación a la formación de jóvenes talentos, lo que le ha valido el apodo de “La Academia”. A lo largo de los años, el club ha sido una cantera prolífica de jugadores que han destacado tanto a nivel nacional como internacional. Entre los futbolistas más notables que han surgido de Atlas se encuentran Rafael Márquez, Pavel Pardo y Andrés Guardado, quienes han tenido exitosas carreras en Europa y con la Selección Mexicana.
        </p>
        <p>
          En cuanto a sus logros, Atlas ha ganado tres títulos de liga y cuatro Copas México. Su primer título de liga llegó en la temporada 1950-1951, un logro significativo que consolidó su posición en el fútbol mexicano. Sin embargo, el club experimentó una larga sequía de títulos de liga que duró más de 70 años, hasta que finalmente rompieron el maleficio al ganar el torneo Apertura 2021 y el Clausura 2022, convirtiéndose en bicampeones, un logro que pocos equipos han conseguido en la historia del fútbol mexicano.
        </p>
        <br><br>
        <p>
          Atlas también ha tenido una destacada participación en competiciones internacionales. En el año 2000, el equipo participó por primera vez en la Copa Libertadores, el torneo de clubes más prestigioso de América del Sur. Aunque no lograron ganar el título, su participación fue un hito importante para el club y demostró su capacidad para competir a nivel internacional.
        </p>
        <p>
          El club mantiene una intensa rivalidad con el Club Deportivo Guadalajara, conocido como Chivas. Este enfrentamiento, conocido como el “Clásico Tapatío”, es uno de los derbis más antiguos y apasionados del fútbol mexicano. Los partidos entre Atlas y Chivas son eventos muy esperados que generan gran expectación y emoción entre los aficionados de ambos equipos.
        </p>
        <br><br>
        <p>
          En términos de administración, Atlas es propiedad de Grupo Orlegi, una empresa que también posee otros equipos de fútbol en México. Bajo la dirección de Grupo Orlegi, Atlas ha experimentado una revitalización tanto en términos deportivos como financieros. La gestión del club ha enfocado sus esfuerzos en fortalecer la cantera, mejorar las instalaciones y atraer talento tanto nacional como internacional.
        </p>
        <p>
          El impacto de Atlas en la comunidad de Guadalajara y en el fútbol mexicano es significativo. El club no solo se dedica a la formación de futbolistas, sino que también participa en diversas iniciativas sociales y comunitarias. A través de su fundación, Atlas promueve el deporte y la educación entre los jóvenes, contribuyendo al desarrollo social y cultural de la región.
        </p>
        <!-- Más texto si es necesario -->
      </div>

      <!-- Sección de Foto -->
      <div class="foto">
        <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/atlas%20(1).png" alt="Foto del jugador" />
      </div>

      <!-- Sección de Equipos -->
      <div class="equipos">
        <div class="equipo">
          <a href="equipo">
            <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Flag_of_Mexico.jpg" alt="Equipo 1" />
          </a>
          
        </div>
        <div class="equipo">
          <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/MX_logo.png" alt="Equipo 2" />
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</Layout>
