---
import Layout from "../layouts/Layout.astro";
---

<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(img/fondo_jugador.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .contenedor {
    width: 66%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid #004488;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 20px;
    flex: 1;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }

  .texto {
    grid-column: 1 / 2;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 40px;
  }

  .foto {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden; /* Importante para que la imagen no sobresalga del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%; /* Asegura que el contenedor ocupe toda la altura asignada */
  }

  .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen cubra todo el contenedor */
  }

  .equipos {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 10px;
  }

  .equipos .equipo {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .equipos .equipo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
</style>

<Layout title="Nueva Pestaña">
  <main>
    <div class="contenedor">
      <!-- Sección de Texto -->
      <div class="texto">
        <h1>Bienvenido a la Nueva Pestaña</h1>
        <p>
          Camilo Cuesta es un futbolista colombiano nacido el 9 de diciembre de 1997 en Medellín, Colombia. Se destacó desde joven en el fútbol, mostrando un talento natural y una gran habilidad en el campo. Su carrera comenzó en las divisiones menores de Atlético Nacional, uno de los clubes más importantes del país. Allí, Cuesta se formó como defensa, desarrollando sus habilidades tácticas y técnicas, lo que le permitió destacar entre sus compañeros y captar la atención de los entrenadores.
        </p>
        <br><br>
        <p>
          En 2016, Camilo Cuesta debutó profesionalmente con Atlético Nacional en la Liga BetPlay. Desde su debut, mostró un rendimiento sólido, convirtiéndose en un jugador clave para el equipo. Su capacidad defensiva, junto con su habilidad para unirse al ataque, lo hicieron destacar en el equipo. A medida que avanzaba su carrera, Cuesta comenzó a atraer el interés de otros clubes tanto en Colombia como en el extranjero.
        </p>
        <p>
          En 2021, Cuesta tuvo la oportunidad de representar a la selección nacional de Colombia en varias categorías menores, destacándose en las eliminatorias y torneos internacionales. Su participación en la selección sub-20 le permitió ganar experiencia y demostrar su potencial a nivel internacional. Esto cimentó su reputación como un jugador promesa en el fútbol colombiano.
        </p>
        <br><br>
        <p>
          Con el tiempo, Cuesta se consolidó como uno de los defensores más confiables en el fútbol colombiano, y su estilo de juego agresivo y decidido le valió el reconocimiento de los aficionados. Su habilidad para anticipar jugadas y su capacidad de liderazgo en la defensa lo convirtieron en un referente para los jóvenes futbolistas en su país.
        </p>
        <p>
          Hoy en día, Camilo Cuesta continúa su carrera con la esperanza de seguir evolucionando como jugador y contribuir a la selección colombiana en futuras competiciones. Su trayectoria demuestra el talento y la dedicación que caracterizan a muchos futbolistas colombianos, y su historia inspira a nuevas generaciones en el deporte.
        </p>
        <br><br>
        <p>
          Además de sus logros en el campo, Ríos es conocido por su dedicación y ética de trabajo. Fuera del campo, es un ejemplo de profesionalismo y humildad, siempre dispuesto a aprender y mejorar. Su actitud positiva y su compromiso con el equipo lo han convertido en un líder tanto dentro como fuera del campo.
        </p>
        <p>
          En 2024, Ríos fue parte del equipo de Palmeiras que ganó la Recopa Sudamericana, añadiendo otro título importante a su ya impresionante palmarés. Su desempeño en el torneo fue destacado, y fue nombrado el mejor jugador del partido en la final. Este reconocimiento subraya su importancia para el equipo y su capacidad para rendir en los momentos más cruciales.
        </p>
        <!-- Más texto si es necesario -->
      </div>
      <!-- Sección de Foto -->
      <div class="foto">
        <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/camilo_cuesta.png" alt="Foto del jugador" />
      </div>

      <!-- Sección de Equipos -->
      <div class="equipos">
        <div class="equipo">
          <a href="genk">
            <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Genk.png" alt="genk" />
          </a>
          
        </div>
        <div class="equipo">
          <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/i.png" alt="Equipo 2" />
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</Layout>
