---
import Layout from "../layouts/Layout.astro";
---

<style>
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/fondo_index.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 100%;
    max-width: 1200px;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .equipo-atlas {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 5px solid #004488;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .equipo-atlas img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .equipos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .equipo {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #004488;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .equipo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .texto {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;           
  max-width: 900px;       
  height: 400px;          
  overflow-y: auto;       
  box-shadow: 0 0 10px rgba(255, 250, 250, 0.5);
  text-align: justify;
}

</style>

<Layout title="Nueva Pestaña">
  <main>
    <div class="contenedor">

      <h1>FLUMINENSE F.C </h1>


      <div class="equipo-atlas">
        <a href="fluminense">
          <img
            src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Fluminense%20(1).png"
            alt="fluminense"
          />
        </a>
      </div>
      <div class="equipos">
        <div class="equipo">
          <a href="equipo">
            <img
              src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/audaz-vibrante-bandera-brasilena-movimiento_1026943-555.jpg"
              alt="Equipo 1"
            />
          </a>
        </div>
        <div class="equipo">
          <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Campeonato-Brasileiro-S%C3%A9rie-A-logo.png" alt="Equipo 2" />
        </div>
      </div>


      <div class="texto">
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Fundación y Primeros Años (1902-1920)
        </h1>        
        <p>
          El Fluminense Football Club fue fundado el 21 de julio de 1902 por Oscar Cox con el objetivo de difundir el fútbol en Brasil. En 1906, se proclamó campeón del primer Campeonato Carioca, lo que marcó el inicio de su relevancia en el fútbol brasileño. Durante sus primeras décadas, el club aportó jugadores clave a la selección nacional, destacando Preguinho, quien anotó el primer gol de Brasil en una Copa del Mundo.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Décadas de 1940 y 1950: Era Dorada
        </h1>        
        <p>
          Durante estas décadas, Fluminense vivió una etapa de gloria al conquistar múltiples títulos del Campeonato Carioca. En 1952, ganó la Copa Rio, un torneo intercontinental que algunos consideran un precursor no oficial del Mundial de Clubes. Estos logros consolidaron al club como una potencia nacional e internacional.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Décadas de 1970 y 1980: La "Máquina Tricolor"
        </h1>        
        <p>
          En los años 70, Fluminense formó un equipo histórico conocido como la "Máquina Tricolor", compuesto por estrellas como Rivellino y Paulo César Caju. Esta generación ganó varios campeonatos estatales y la primera versión oficial del Campeonato Brasileño en 1970. En 1984, bajo la dirección técnica de Carlos Alberto Parreira, el club volvió a brillar al ganar otro Brasileirão, liderado por jugadores como Romerito y Assis.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Décadas de 1990 y 2000: Altibajos y Resurgimiento
        </h1>        
        <p>
          A pesar de haber descendido en los años 90, el Fluminense resurgió en los 2000 con logros importantes. En 2007, conquistó la Copa de Brasil, y en 2008 llegó a la final de la Copa Libertadores. Además, fue campeón del Brasileirão en 2010 y 2012, con figuras destacadas como Fred y Deco.
        </p>       
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Últimos Años y Desarrollo de Talento Joven
        </h1>        
        <p>
          En los años recientes, el club se ha enfocado en desarrollar jóvenes talentos, lanzando las carreras de jugadores como Richarlison y Pedro. A pesar de enfrentar desafíos financieros, Fluminense ha seguido siendo competitivo, logrando el Campeonato Carioca en 2022 y renovando la pasión de sus seguidores.
        </p>      

      </div>
    </div>
  </main>

  <footer class="footer">
    <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</Layout>
