---
import Layout from "../layouts/Layout.astro";
---

<style>
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/fondo_index.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 100%;
    max-width: 1200px;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .equipo-atlas {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 5px solid #004488;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .equipo-atlas img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .equipos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .equipo {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #004488;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .equipo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .texto {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;           
  max-width: 900px;       
  height: 400px;          
  overflow-y: auto;       
  box-shadow: 0 0 10px rgba(255, 250, 250, 0.5);
  text-align: justify;
}

</style>

<Layout title="Nueva Pestaña">
  <main>
    <div class="contenedor">

      <h1>KRC GENK</h1>


      <div class="equipo-atlas">
        <a href="genk">
          <img
            src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Genk%20(1).png"
            alt="genk"
          />
        </a>
      </div>


      <div class="equipos">
        <div class="equipo">
          <a href="equipo">
            <img
              src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/belgium-country-flag.jpg"
              alt="Equipo 1"
            />
          </a>
        </div>
        <div class="equipo">
          <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/i.png" alt="Equipo 2" />
        </div>
      </div>


      <div class="texto">
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Fundación y Primeros Años (1923-1988)
        </h1>        
        <p>
          El KRC Genk se fundó en 1988 a partir de la fusión de dos clubes belgas: el KFC Winterslag y el Waterschei SV Thor. El KFC Winterslag fue establecido en 1923 y ascendió a la Primera División de Bélgica en 1974. Por otro lado, el Waterschei SV Thor fue fundado en 1919 y también tuvo una destacada trayectoria en la liga belga. La fusión de estos dos clubes permitió a KRC Genk heredar la matrícula 332 del KFC Winterslag y comenzar su andadura en la Primera División de Bélgica.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Consolidación y Éxitos (1988-2000)
        </h1>        
        <p>
          Desde su fundación, KRC Genk rápidamente se consolidó como uno de los equipos más exitosos de Bélgica. En la década de 1990, el club clasificó regularmente a las competiciones de la UEFA, destacándose en el ámbito nacional e internacional. Durante este período, KRC Genk ganó varios títulos y consolidó su presencia en la élite del fútbol belga.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Modernización y Expansión (2000-Presente)
        </h1>        
        <p>
          En los últimos años, KRC Genk ha continuado su desarrollo y modernización. El club ha invertido en infraestructuras, como la construcción del moderno estadio Cegeka Arena, que tiene una capacidad de 24,956 espectadores. Además, KRC Genk ha mantenido su competitividad en la liga y ha logrado varios títulos nacionales, consolidándose como uno de los equipos más laureados de Bélgica.
        </p>
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</Layout>
