---
import Layout from "../layouts/Layout.astro";
---

<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(img/fondo_jugador.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .contenedor {
    width: 66%;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid #004488;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    padding: 20px;
    flex: 1;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
  }

  .texto {
    grid-column: 1 / 2;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 40px;
  }

  .foto {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    overflow: hidden; /* Importante para que la imagen no sobresalga del contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%; /* Asegura que el contenedor ocupe toda la altura asignada */
  }

  .foto img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para que la imagen cubra todo el contenedor */
  }

  .equipos {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    gap: 10px;
  }

  .equipos .equipo {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .equipos .equipo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
</style>

<Layout title="Nueva Pestaña">
  <main>
    <div class="contenedor">
      <!-- Sección de Texto -->
      <div class="texto">
        <h1>Bienvenido a la Nueva Pestaña</h1>
        <p>
          Jefferson Andrés Lerma Solís, nacido el 25 de octubre de 1994 en El Cerrito, Valle del Cauca, es un destacado futbolista colombiano que se desempeña como centrocampista. Actualmente, juega para el Crystal Palace en la Premier League de Inglaterra. Su carrera ha sido notable tanto a nivel de clubes como en la selección nacional de Colombia.
        </p>
        <br><br>
        <p>
          Lerma comenzó su carrera profesional en el Atlético Huila, debutando en 2013. Su primer gol lo consiguió en la tercera jornada de la Liga Postobón 2014 I, frente a Fortaleza, donde también marcó el gol mil de la historia del Atlético Huila. Su desempeño en el Atlético Huila llamó la atención del Levante UD de España, que lo fichó inicialmente en calidad de cedido para la temporada 2015-2016.        </p>
        <p>
          En España, Lerma se consolidó como un jugador clave para el Levante UD, ayudando al equipo a ganar la Segunda División en la temporada 2016-2017. Su rendimiento en el Levante le valió un traspaso al AFC Bournemouth de la Premier League en 2018, por una cifra récord para el club inglés. En Bournemouth, Lerma se destacó por su capacidad defensiva y su habilidad para recuperar balones, convirtiéndose en un pilar del equipo durante varias temporadas.
        </p>
        <br><br>
        <p>
          A nivel internacional, Jefferson Lerma ha sido un miembro regular de la selección colombiana desde su debut en 2017. Su participación en la Copa Mundial de la FIFA 2018 en Rusia fue notable, donde jugó un papel crucial en el mediocampo colombiano. Además, ha sido una figura clave en varias ediciones de la Copa América, incluyendo la edición de 2024, donde Colombia obtuvo la medalla de plata.
        </p>
        <p>
          Lerma es conocido por su tenacidad, resistencia y capacidad para romper el juego del equipo contrario. Estas habilidades lo han convertido en un jugador versátil y valioso tanto para sus clubes como para la selección nacional. Su capacidad para adaptarse a diferentes estilos de juego y su experiencia en ligas competitivas lo han consolidado como uno de los mejores centrocampistas defensivos de Colombia.
        </p>
        <br><br>
        <p>
          En 2023, después de una destacada actuación en la Copa América, Lerma firmó un contrato con el Crystal Palace hasta 2026. Este movimiento fue visto como un paso importante en su carrera, ya que le permite continuar jugando en una de las ligas más competitivas del mundo y seguir desarrollándose como jugador.
        </p>
        <p>
          Además de su carrera en el fútbol de clubes, Lerma ha sido un pilar en el mediocampo de la selección colombiana. Su experiencia y liderazgo en el campo han sido vitales para el equipo, especialmente en torneos internacionales. Su dedicación y profesionalismo lo han convertido en un modelo a seguir para los jóvenes futbolistas colombianos.        </p>
        <!-- Más texto si es necesario -->
      </div>

      <!-- Sección de Foto -->
      <div class="foto">
        <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/j.lerma.jpg" alt="Foto del jugador" />
      </div>

      <!-- Sección de Equipos -->
      <div class="equipos">
        <div class="equipo">
          <a href="equipo">
            <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Crystal%20Palace%20(1).png" alt="Equipo 1" />
          </a>
          
        </div>
        <div class="equipo">
          <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/premier-league-logo-C13B9DEC31-seeklogo.com.png" alt="Equipo 2" />
        </div>
      </div>
    </div>
  </main>
  <footer class="footer">
    <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</Layout>
