---
import Layout from "../layouts/Layout.astro";
---

<style>
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/fondo_index.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 100%;
    max-width: 1200px;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .equipo-atlas {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 5px solid #004488;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .equipo-atlas img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .equipos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .equipo {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #004488;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .equipo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .texto {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;           
  max-width: 900px;       
  height: 400px;          
  overflow-y: auto;       
  box-shadow: 0 0 10px rgba(255, 250, 250, 0.5);
  text-align: justify;
}

</style>

<Layout title="Nueva Pestaña">
  <main>
    <div class="contenedor">

      <h1>KRASNODAR F.C</h1>


      <div class="equipo-atlas">
        <a href="kranodar">
          <img
            src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Krasnodar%20(1).png"
            alt="kranodar"
          />
        </a>
      </div>


      <div class="equipos">
        <div class="equipo">
          <a href="equipo">
            <img
              src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/7e2cda27d7270ac3ae8f8833de11a44d.jpg"
              alt="Equipo 1"
            />
          </a>
        </div>
        <div class="equipo">
          <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Russian_Premier_League.svg.png" alt="Equipo 2" />
        </div>
      </div>


      <div class="texto">
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Fundación y Primeros Años (2008-2010)
        </h1>        
        <p>
          El Krasnodar F.C. fue fundado el 22 de febrero de 2008 por el empresario ruso Sergey Galitsky. Desde su creación, el club comenzó a competir en la Segunda División de Rusia y, en 2009, logró el ascenso a la Primera División, la segunda categoría del fútbol ruso. En su primera temporada en la Primera División, el equipo terminó en la décima posición.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Ascenso y Estabilidad (2011-2016)
        </h1>        
        <p>
          En 2011, el Krasnodar F.C. logró otro ascenso, esta vez a la Liga Premier de Rusia, la máxima categoría del fútbol ruso. Desde entonces, el club ha mantenido una posición estable en la liga, logrando clasificaciones que le permiten participar en competiciones europeas. En 2013, comenzó la construcción del nuevo estadio, el Krasnodar Stadium, que fue inaugurado en 2016.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Éxitos y Reconocimiento (2016-Presente)
        </h1>        
        <p>
          Desde la inauguración del nuevo estadio, el Krasnodar F.C. ha continuado su desarrollo y ha logrado varios éxitos importantes. El club ha participado en la UEFA Champions League y ha ganado títulos nacionales, consolidándose como uno de los equipos más importantes de Rusia. Además, ha atraído a jugadores talentosos y ha mantenido una estructura sólida que le permite competir a alto nivel tanto a nivel nacional como internacional.
        </p>
       
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</Layout>
