---
import Layout from "../layouts/Layout.astro";
---

<style>
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/fondo_index.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 100%;
    max-width: 1200px;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .equipo-atlas {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 5px solid #004488;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .equipo-atlas img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .equipos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .equipo {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #004488;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .equipo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .texto {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;           
  max-width: 900px;       
  height: 400px;          
  overflow-y: auto;       
  box-shadow: 0 0 10px rgba(255, 250, 250, 0.5);
  text-align: justify;
}

</style>

<Layout title="Nueva Pestaña">
  <main>
    <div class="contenedor">

      <h1>LIVERPOOL F.C</h1>


      <div class="equipo-atlas">
        <a href="liverpool">
          <img
            src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Liverpool%20(1)%20(1)%20(1).png"
            alt="liverpool"
          />
        </a>
      </div>


      <div class="equipos">
        <div class="equipo">
          <a href="equipo">
            <img
              src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/png-clipart-flag-of-england-flag-of-the-united-kingdom-flag-of-the-city-of-london-england-angle-english.png"
              alt="Equipo 1"
            />
          </a>
        </div>
        <div class="equipo">
          <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/premier-league-logo-C13B9DEC31-seeklogo.com%20(1)%20(1).png" alt="Equipo 2" />
        </div>
      </div>


      <div class="texto">
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Fundación y Primeros Años (1892-1959)
        </h1>        
        <p>
          Liverpool F.C. fue fundado el 15 de marzo de 1892, tras una disputa con el Everton F.C. sobre el alquiler del estadio Anfield. El club se unió a la Football League en 1893 y rápidamente comenzó a destacar en el fútbol inglés. Bajo la dirección del mánager Tom Watson, Liverpool ganó su primer título de liga en 1901 y su primer FA Cup en 1906.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Éxitos Nacionales (1959-1980)
        </h1>        
        <p>
          En la década de 1960, Liverpool comenzó a consolidarse como uno de los equipos más exitosos de Inglaterra. Ganaron su primera Liga de Campeones de la UEFA en 1977, y en los años siguientes, el club acumuló numerosos títulos nacionales, incluyendo la Liga Premier y la FA Cup.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Dominio Europeo (1980-1990)
        </h1>        
        <p>
          Los años 80 fueron una década dorada para Liverpool, con el club ganando cuatro títulos de la Liga de Campeones de la UEFA (1981, 1984, 1985, 1986) y varios campeonatos de liga y copas nacionales. Jugadores icónicos como Kenny Dalglish y Ian Rush fueron fundamentales en estos éxitos.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Modernización y Reconstrucción (1990-2000)
        </h1>        
        <p>
          A pesar de algunos altibajos en los años 90, Liverpool continuó siendo un equipo competitivo en la liga y en competiciones europeas. En 1992, el club se convirtió en uno de los miembros fundadores de la Premier League, la nueva primera división del fútbol inglés.
        </p>      
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Éxitos Recientes (2000-Presente)
        </h1>        
        <p>
          En los últimos años, Liverpool ha experimentado un resurgimiento bajo la dirección de entrenadores como Rafael Benítez y Jürgen Klopp. El club ha ganado múltiples títulos de liga, la FA Cup y la Liga de Campeones de la UEFA en 2005 y 2019. Jugadores como Steven Gerrard, Mohamed Salah y Virgil van Dijk han sido clave en estos éxitos.
        </p>            
      

      </div>
    </div>
  </main>

  <footer class="footer">
    <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</Layout>
