---
import Layout from "../layouts/Layout.astro";
---

<style>
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/fondo_index.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 100%;
    max-width: 1200px;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .equipo-atlas {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    border-radius: 10px;
    border: 5px solid #004488;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .equipo-atlas img {
    width: 100%;            
    height: 100%;          
    object-fit: contain;   
    background-color: white; 
    border-radius: 10px;     
    padding: 10px;           
}


  .equipos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .equipo {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #004488;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .equipo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .texto {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;           
  max-width: 900px;       
  height: 400px;          
  overflow-y: auto;       
  box-shadow: 0 0 10px rgba(255, 250, 250, 0.5);
  text-align: justify;
}

</style>

<Layout title="Nueva Pestaña">
  <main>
    <div class="contenedor">

      <h1>PALMEIRAS F.C</h1>


      <div class="equipo-atlas">
        <a href="saopaulo">
          <img
            src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Palmeiras%20(2).png"
            alt="saopaulo"
          />
        </a>
      </div>
      <div class="equipos">
        <div class="equipo">
          <a href="equipo">
            <img
              src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/audaz-vibrante-bandera-brasilena-movimiento_1026943-555.jpg"
              alt="Equipo 1"
            />
          </a>
        </div>
        <div class="equipo">
          <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Campeonato-Brasileiro-S%C3%A9rie-A-logo.png" alt="Equipo 2" />
        </div>
      </div>


      <div class="texto">
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Fundación y Primeros Años (1914-1942)
        </h1>        
        <p>
          El Palmeiras F.C., conocido oficialmente como Sociedade Esportiva Palmeiras, fue fundado el 26 de agosto de 1914 por inmigrantes italianos en São Paulo, Brasil. Originalmente, el club se llamó Palestra Italia y utilizaba los colores verde, blanco y rojo. Sin embargo, debido a la Segunda Guerra Mundial y las tensiones políticas, el nombre fue cambiado a Palmeiras el 14 de septiembre de 1942.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Éxitos y Reconocimiento (1990-2021)
        </h1>        
        <p>
          Palmeiras ha sido uno de los clubes más exitosos y prestigiosos de Brasil y Sudamérica. En 1999, bajo la dirección del entrenador Luiz Felipe Scolari, el club ganó la Copa Libertadores, uno de los títulos más importantes a nivel continental. En 2021, Palmeiras fue elegido como el mejor equipo del mundo por la Federación Internacional de Historia y Estadística de Fútbol (IFFHS), siendo el primer club brasileño en lograr esta distinción.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Modernización y Expansión (2014-Presente)
        </h1>        
        <p>
          En 2014, Palmeiras inauguró su nuevo estadio, el Allianz Parque, con una capacidad de 55,000 espectadores. Este moderno estadio ha sido un símbolo de la evolución y crecimiento del club. En los últimos años, Palmeiras ha ganado múltiples títulos nacionales, incluyendo el Campeonato Brasileño y la Copa de Brasil.
        </p>
        
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</Layout>
