---
import Layout from "../layouts/Layout.astro";
---

<style>
    body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url(https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/fondo_index.png) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    width: 100%;
    max-width: 1200px;
  }

  h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .equipo-atlas {
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
    border-radius: 10px;
    border: 5px solid #004488;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .equipo-atlas img {
    width: 100%;            
    height: 100%;          
    object-fit: contain;   
    background-color: white; 
    border-radius: 10px;     
    padding: 10px;           
}


  .equipos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
  }

  .equipo {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #004488;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .equipo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5px;
  }

  .texto {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 100%;           
  max-width: 900px;       
  height: 400px;          
  overflow-y: auto;       
  box-shadow: 0 0 10px rgba(255, 250, 250, 0.5);
  text-align: justify;
}

</style>

<Layout title="Nueva Pestaña">
  <main>
    <div class="contenedor">

      <h1>PALMEIRAS F.C</h1>


      <div class="equipo-atlas">
        <a href="villareal">
          <img
            src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/Villarreal%20CF%20(1).png"
            alt="villareal"
          />
        </a>
      </div>
      <div class="equipos">
        <div class="equipo">
          <a href="equipo">
            <img
              src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/istockphoto-938374850-612x612.jpg"
              alt="Equipo 1"
            />
          </a>
        </div>
        <div class="equipo">
          <img src="https://nuvvv-0115.sirv.com/Shared/la_seleccion-from-spar2099/LaLiga.png" alt="Equipo 2" />
        </div>
      </div>


      <div class="texto">
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Fundación y Primeros Años (1923-1950)
        </h1>        
        <p>
          El Villarreal F.C., oficialmente conocido como Villarreal Club de Fútbol, S.A.D., fue fundado el 10 de marzo de 1923 por un grupo de aficionados de Vila-real. Originalmente, el club se llamó Club Deportivo Villarreal y su objetivo era promover todos los deportes, especialmente el fútbol. En sus primeros años, el equipo jugó en el estadio El Madrigal, uno de los campos más antiguos de la máxima categoría del fútbol español.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Ascenso y Estabilidad (1950-2000)
        </h1>        
        <p>
          A lo largo de los años, Villarreal logró ascender a las divisiones superiores del fútbol español. En 1998, el club alcanzó la Liga BBVA (ahora La Liga) por primera vez. Desde entonces, ha mantenido una posición estable en la liga, logrando clasificaciones que le permiten participar en competiciones europeas.
        </p>
        <h1 class="text-center my-4 font-bold" style="font-size: 26px; color: black;">
          Éxitos y Reconocimiento (2000-Presente)
        </h1>        
        <p>
          En el siglo XXI, Villarreal ha ganado varios títulos importantes. En 2021, el club ganó la UEFA Europa League, derrotando al Manchester United en la final y consiguiendo su primer gran trofeo europeo. Además, Villarreal ha participado en la UEFA Champions League y ha alcanzado las semifinales en dos ocasiones (2005-2006 y 2021-2022).
        </p>
        
      </div>
    </div>
  </main>

  <footer class="footer">
    <p>© 2024 Tu Empresa. Todos los derechos reservados.</p>
  </footer>
</Layout>
